<!DOCTYPE html>

{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Coding Games{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'capitol/css/base_styles.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'capitol/images/logo_redondo_UNPA.png' %}" alt="Logo UNPA"></a>
            </div>
            <div class="title">
                <h1>Coding Games</h1>
            </div>
            <div class="nav-links">
                <a href="{% url 'login' %}">ingreso al Capitolio</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 UNPA - The Coding Games</p>
    </footer>

    {% block extra_scripts %}{% endblock %}
    
</body>
</html>
