{% extends 'capitol/base.html' %}

{% load static %}

{% block content %}
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Tributo</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Clave de Arena</label>
                {{ form.password }}
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'capitol/css/login_styles.css' %}">
{% endblock %}
