<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Coding Games{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Base styles -->
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    
    <!-- Fragments styles -->
    <link rel="stylesheet" href="{% static 'css/fragments.css' %}">
    
    <!-- Dashboard common styles (for dashboard pages) -->
    <link rel="stylesheet" href="{% static 'dashboards/css/dashboard_styles.css' %}">
    
    <!-- Extra styles from child templates -->
    {% block extra_styles %}{% endblock %}
</head>
<body>
    {% include "fragments/header.html" %}
    {% include "fragments/navbar.html" %}

    <main>
        {% include "fragments/messages.html" %}

        <!-- Contenido de las páginas -->
        {% block content %}{% endblock %}
    </main>

    {% include "fragments/footer.html" %}

    <!-- Scripts adicionales -->
    {% block extra_scripts %}{% endblock %}
    
</body>
</html>
